<div style="min-height:100%;">
  <div class="row">
    <div class="small-12 medium-8 large-6 large-centered medium-centered columns">
      <form data-abide="ajax" id="webapp-request-login" style="margin-top:20%" class="custom">
        <fieldset>
          <h3 style="margin-bottom:60px;margin-top:10px;"><i class="fa fa-chevron-right"></i>&nbspLog In</h3>
          <div class="row">
            <div class="small-12 columns">
              <div data-alert class="alert-box radius alert" id="error-display-box"  style="display:none">
                <!-- Alert message goes here -->
                <div class="row">
                  <div class="small-11 columns">
                    <p id="error-display-message"></p>
                  </div>
                  <div class="small-1 columns">
                    <a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="small-12 large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 large-3 columns">
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-left radius" title="Please enter a valid email address"><span class="prefix"><i class="fa fa-envelope-o fa-lg"></i></span></span>
                </div>
                <div class="small-9 large-9 columns">
                  <input type="email" id='username' name='username' required>
                  <small class="error">Your username must be a valid email</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 large-3 columns">
                  <span class="prefix"><i class="fa fa-key fa-lg"></i></span>
                </div>
                <div class="small-9 large-9 columns">
                  <input type="password" id='password' name='password' required pattern="lower">
                  <small class="error">Passwords must be between 6 and 40 characters long</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="small-4 large-3 columns">
              <button type="submit" id="submit-login" class="button radius alert">Login</button>
            </div>
            <div class="small-8 large-9 columns">
              <div class="small-12 large-12 columns" id="extra-field-1">
                {{#if signup}}
                  <span>First time Here? <a href="/signup">Signup</a></span>
                {{/if}}
              </div>
              <div class="small-12 large-12 columns" id="extra-field-2">
                {{#if recover}}
                  <span>Forgot Password? <a href="/recover">Recover</a></span>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 large-12 columns" id="extra-field-3">
              {{#if oauth}}
                <div class="row">
                  <div class="small-5 columns">
                    <hr>
                  </div>
                  <div class="small-2 columns">
                    <h4>Or</h4>
                  </div>
                  <div class="small-5 columns">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns small-centered text-center">
                    <a href="/auth/google" ><img src="img/signin1.png" class="small-12 small-centered "style="width:60%;height:60%"></a>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>





