<div class="row" style="padding-top: 200px;">
  <div class="large-6 small-12 medium-6 large-centered small-centererd medium-centered columns">
    <div class="row">
      <div class="large-4 small-6 medium-4 columns">
        <i class="fa fa-gears" style="font-size: 6em;"></i>
      </div>
      <div class="large-8 small-6 medium-8 columns">
        <h2><em>404 Not Found!</em></h2>
        <h4 class="subheader">There's nothing here!</h4>
      </div>
    </div>
  </div>
</div>