<div id="webapp-login-page" style="min-height:100%;">
  <div class="row">
    <div class="large-6 large-centered columns">
      <form data-abide='ajax' id="webapp-request-login" style="margin-top:20%">
        <fieldset>
          <h3 style="margin-bottom:60px;margin-top:10px;"><i class="fa fa-chevron-right"></i>&nbspRecover Password</h3>
          <p style="margin-bottom:20px;">Please enter your username. An email will be sent to the registered email address with a temporary password within the next few minutes.</p>
          <div data-alert class="alert-box radius alert" id="error-display-box"  style="display:none">
                <!-- Alert message goes here -->
            <div class="row">
              <div class="small-11 columns">
                <p id="error-display-message"></p>
              </div>
              <div class="small-1 columns">
                <a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="large-3 columns">
                  <span class="prefix"><i class="fa fa-envelope-o fa-lg"></i></span>
                </div>
                <div class="large-9 columns">
                  <input type="email" id='username' name='username' required>
                  <small class="error">A valid email is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="large-3 columns">
              <button type="submit" class="button radius alert">Send</button>
            </div>
            <div class="large-9 columns">
                <div class="large-12 columns" id="extra-field-1">
                  {{#if login}}
                    <span>Return to <a href="/login">login</a></span>
                  {{/if}}
                </div>
                <div class="large-12 columns" id="extra-field-2">
                  {{#if signup}}
                    <span>First time Here? <a href="/signup">Signup</a></span>
                  {{/if}}
                </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns" id="extra-field-3">
              {{#if oauth}}
                <div class="row">
                  <div class="small-5 columns">
                    <hr>
                  </div>
                  <div class="small-2 columns">
                    <h4>Or</h4>
                  </div>
                  <div class="small-5 columns">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns small-centered text-center">
                    <a href="/auth/google" ><img src="img/signin1.png" class="small-12 small-centered "style="width:60%;height:60%"></a>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>