<div class="row">
	<div class="large-12 small-12 medium-12">
		<h2>Definitions</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12">
		<h3>Explanation of classes:</h4>
		<br />
		<br />
		<h5>Metabolizer class</h5>
		<p>Variations in metabolizer genes can produce differences in enzyme activity that changes the amount of drug available in the body. This can have a potentially large impact on drug response because of the variability of drug concentrations in the body.</p>
		<br />
		<table class="large-12 small-12 medium-12">
			<thead>
				<tr>
					<th>Metabolizer Phenotype</th>
					<th>Effect on medication and drug response</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>Poor Metabolizer</b> Lack of enzyme activity</td>
					<td>Increased risk of adverse drug reactions due to reduced drug elimination or lack of drug effectiveness (resulting from failure to produce the active form of the drug).</td>
				</tr>
				<tr>
					<td><b>Intermediate Metabolizer</b> Reduced enzyme activity</td>
					<td>Reduced metabolism can lead to increased risk of drug- drug interactions and adverse drug reactions.</td>
				</tr>
				<tr>
					<td><b>Normal Metabolizer</b> Normal enzyme activity</td>
					<td>Average drug metabolism and drug performance based upon drug label specifications.</td>
				</tr>
				<tr>
					<td><b>Ultrarapid Metabolizer</b> increased enzyme activity</td>
					<td>Higher than average drug metabolism, leading to reduced drug effectiveness OR increased risk of adverse drug reactions due to increased exposure to active drug metabolites.</td>
				</tr>
			</tbody>
		</thead>
		<br />
		<h5>Transporter class</h5>
		<p>Variations in transporter genes can produce differences in enzyme activity that changes the amount of drug available at its active site. This can have a potentially large impact on drug response because of the variability of drug concentrations at the target site.</p>
		<br />
		<table>
			<thead>
				<tr>
					<th>Transporter Phenotype </th>
					<th>Effect on medication and drug response</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>Normal Tranport Activity</b> Low Risk</td>
					<td>Average drug transport into and drug performance based upon drug label specifications</td>
				</tr>
				<tr>
					<td><b>Intermediate Transport Activity</b> Intermediate Risk</td>
					<td>Reduced drug transport to its active site may lead to increased risk of adverse drug events due to increased systemic drug exposure.</td>
				<tr>
				<tr>
					<td><b>Poor Transport Activity</b> High Risk</td>
					<td>High risk of developing adverse drug events due to reduced drug transport into its active site, leading to increased systemic drug exposure.</td>
				</tr>
			</tbody>
		</table>
		<br />
		<h5>Immune System</h5>
		<p>Specific HLA variants indicate patients who are at greatest risk for developing cutaneous adverse drug reactions with abacavir, carbamazepine or phenytoin therapy. These individuals will require alternative therapy to minimize treatment-related toxicity.</p>
		<br />
		<h5>Prediction of Response</h5>
		<p>Specific genotypes can predict if patients may respond favourably or less favourably to drug therapy in previously untreated patients.</p>
	</div>
</div>