  <div class="row" style="padding-top: 30px;">  
    <div class="large-12 columns">
      <h1>{{title}}</h2>
      <h4 class="subheader">Next-generation genome annotation.</h4>
      <h5>Welcome to the private beta testing phase of <em>{{title}}</em>. This is open-source software written by the Bader and Brudno labs at the University of Toronto for the clinical community. Our goal is to create apps to bring genomic data to the clinic. Let us know if you'd like any new features for your clinical workflows.</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <img src="img/Emiliano Ponzi - Scientific divulgation - La Repubblica.jpg">
      <hr>
    </div>
  </div>