<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../public/css/pgx-report.css" />
  </head>
  <div class="row" style="marin-top:0px;margin-bottom:0px;">
  		<div class="col-3 columns">
  			<div style="max-width:100%">
  				<img src="../public/img/SK_PMS_Web.jpg" style="width:100%"/>
  			</div>
  		</div>
  		<div class="col-6 columns">
  			<h2 style="padding-top:10px;padding-bottom:10px">PharmacoGenetics Report</h2>
  		</div>
  		<div class="col-3 columns">
  			<div class="row" style="marin-top:0px;margin-bottom:0px;">
  				<div class="col-3 columns">
  					<p style="text-align:right">DATE</p>
  				</div>
  				<div class="col-9 columns">
  					<p style="text-align:left">TEST</p>
  				</div>
  			</div>
  			<div class="row" style="marin-top:0px;margin-bottom:0px;">
  				<div class="col-4 columns">
  					<p style="text-align:right">DATE</p>
  				</div>
  				<div class="col-8 columns">
  					<p style="text-align:left">TEST</p>
  				</div>
  			</div>
  		</div>
  </div>