<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<h2><i class="fa fa-asterisk"></i>&nbspManage Dosing Tables</h2>
		<h5 class="subheader">Displaying dosing information for all available genes</h5>
		<p>Select any of the available genes below to modify the dosing information for that specific gene. You can change, add or remove any drug interactions to each gene</p>
		<div class="row">
        	<div class="large-3 medium-6 small-12 columns">
          		<a href="/dosing/new" class="small-12 medium-12 large-12 button alert radius left" id="add-new-haplotype">Add New Gene</a>
        	</div>
      	</div> 
	</div>
</div>
<div class="row">
	<div class="small-12 large-12 medium-12 columns">
		<div class="row collapse prefix-radius">
			<div class="large-2 medium-3 small-4 columns">
				<span class="prefix">Search</span>
			</div>
			<div class="large-4 medium-7 small-8 left columns">
				<input type="text" id="search-box">
			</div>
		</div>
		<table class="large-12 medium-12 small-12 id="gene-dosage">
			<thead>
				<tr>
					<th>Gene</th>
					<th>Number of Interactions</th>
				</tr>
			</thead>
			<tbody>
				{{#each genes}}
				<tr class="dose-row" data-name="{{_id}}">
					<td>{{_id}}</td>
					<td>{{interactions}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
