<div class="row" style="padding-top: 30px;">  
	<div class="large-12 small-12 medium-12 columns">
		<a href="/haplotypes" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		<div class="row">
			<div class="large-10 small-12 medium-10 columns">
				<h2 id="gene-name"><i class="fa fa-asterisk" ></i>&nbsp{{gene}}</h2>
			</div>
			<div class="large-2 small-12 medium-2 right columns">
				<h2 class="text-right"><a href="#" id="edit-page"><i class="fi-pencil" style="color:#A2A2A2;"></i></a></h2>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 small-12 medium-12 columns" id="main_content">
		{{#each drug}}
		<div class="large-12 small-12 medium-12 columns drug-field" data-name="{{@key}}"
			{{#}}  
	</div>
</div>
