  <div class="row" style="padding-top: 30px;">  
    <div class="large-12 small-12 medium-12 columns">
      <h1>Pharmacogenetics (PGX) Webapp</h2>
      <h5>The PGX Webapp helps to analyze patient genotype data and create reports about a pharmacogenetics test.  The software is written by the Bader and Brudno labs at the University of Toronto for the Sick Kids Genome Clinic project.  Let us know if you'd like any new features for your clinical workflows.</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 medium-12 columns">
      <hr>
      <div class="row">
        <div class="large-12 small-12 medium-12 columns">
          <h2>Basic Workflow</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-9 small-9 medium-9 columns">
          <h4 style="line-height:80px">1. To begin the workflow, upload a file for a new patient</h4>
        </div>
        <div class="large-3 small-3 medium-3 columns container">
          <a class="icon-link" href="/upload">
            <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <i class=" fi-torso" style="font-size:60px;color:#FFFFFF;line-height:80px"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="large-9 small-9 medium-9 columns">
          <h4 style="line-height:80px">2. Check the status of a file while its being uploaded</h4>
        </div>
        <div class="large-3 small-3 medium-3 columns container">
          <a class="icon-link" href="/statuspage">
            <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <i class=" fi-annotate" style="font-size:60px;color:#FFFFFF;line-height:80px"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="large-9 small-9 medium-9 columns">
          <h4 style="line-height:80px">3. Once a file is uploaded, browse the PGx Analysis</h4>
        </div>
        <div class="large-3 small-3 medium-3 columns container">
          <a class="icon-link" href="/browsepatients">
              <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <i class="fa fa-heart" style="font-size:60px;color:#FFFFFF;line-height:80px;"></i>
            </div>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-12 small-12 medium-12 columns">
          <h2>Manage Information in the Database</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-9 small-9 medium-9 columns">
          <h4 style="line-height:80px"> Manage dosing recommendations </h4>
        </div>
        <div class="large-3 small-3 medium-3 columns text-center">
          <a class="icon-link" href="/dosing">
            <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <i class="fa fa-medkit" style="font-size:60px;color:#FFFFFF;line-height:80px;"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="laarge-9 small-9 medium-9 columns">
          <h4 style='line-height:80px'>Manage haplotypes</h4>
        </div>
        <div class="large-3 small-3 medium-3 columns text-center">
          <a class="icon-link" href="/haplotypes">
            <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <i class="fa fa-asterisk" style="font-size:60px;color:#FFFFFF;line-height:80px;"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="large-9 small-9 medium-9 columns">
          <h4 style="line-height:80px">Manage markers</h4>
        </div>
        <div class="large-3 small-3 medium-3 columns text-center">
          <a class="icon-link" href="/markers">
            <div class="inner-icon icon-button text-center" style="width:80px;height:80px;">
              <b class="icon-font" style="font-size:50px;color:#FFFFFF;line-height:80px;">rS</b>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>