<div class="row" style="padding-top: 30px;">  
	<div class="large-12 columns">
		<h2><i class="fa fa-asterisk"></i>&nbspAdd a new haplotype</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<form data-abide="ajax">
				<div class="row">
					<div class="large-12 columns">
						<div class="row collapse prefix-radius">
		                	<div class="large-2 columns">
		                  		<span class="prefix">Gene Name</span>	
		                  	</div>
			                <div class="large-10 columns left">
			                	<input type="text" id='username' name='username' required>
			                  	<small class='error'>Gene Name must be provided</small>
			                </div>
		              	</div>
	              	</div>
	           	</div>
	           	<h4 style="margin-top:20px;margin-bottom:0px;padding-bottom:0px">Phasing informmation</h4>
	           	<hr style="margin-top:0px" />	
	           	<div class="row">
	           		<div class="large-12 columns" id="haplotypes">
	           		</div>
	           	</div>
		        <div class="row">
		        	<div class="large-4 columns right">
		        		<a href="#" class="large-12 radius button alert" id="add-new-haplotype">Add Another Haplotype</a>
		        	</div>
		        </div>

		</form>
	</div>
</div>