<div class="row" style="padding-top: 30px;">  
	<div class="large-12 medium-12 small-12 columns">
		<a href="/haplotypes" class="button radius"><i class="fa fa-arrow-left"></i>&nbspBack</a>
		<div class="row">
			<div class="large-10 small-12 medium-12 columns">
				<h2><i class="fa fa-asterisk"></i>&nbspAdd A new Haplotype Collection</h2>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns" id="header">

		<div class="row">
			<div class="large-3 small-12 medium-6 columns left">
				<a href="#" class="button radius" id="new-haplotype"><i class="fi-plus size-16"></i>&nbspAdd Haplotype</a>
			</div>
			<div class="large-4 small-12 medium-6 columns right">
				<ul class="button-group radius even-2" >
					<li>
						<a href="#" id="submit-changes" class="button text-center success radius">Submit</a>
					</li>
					<li>
						<a href="#" id="cancel-changes" class="button radius text-center">Cancel</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row collapse prefix-radius" style="margin-top:30px">
			<div class="large-3 medium-3 small-4 columns">
				<span class="prefix">Gene name</span>
			</div>
			<div class="large-5 medium-9 small-8 left columns">
				<input type="text" id="gene-name">
				<small class="error haplo-error" style="display:none"></small>
			</div>
		</div>
		<div id="confirm-delete" class="reveal-modal large" data-reveal>
			<h4>Are you sure you want to delete the haplotypes for {{gene}} permanately?</h4>
			<h6 class="subheader">Once deleted you will no longer be able access or use this haplotype set. None of the markers will be modified or deleted.</h6>
			<div class="row">
				<div class="large-6 small-12 medium-6 columns">
					<a href="#" class="large-12 success button radius">Confirm</a>
				</div>
				<div class="large-6 small-12 medium-6 columns">
					<a href="#" class="large-12 alert button radius cancel">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="add-marker-modal" class="reveal-modal large" data-reveal>
	<form id="new-marker-form" data-abide="ajax">
		<div class="row">
			<div class="large-12 small-12 medium-12 columns">
  				<h3><em id="new-marker-name"></em> was not found in the database, would you like to add it?</h3>
  			</div>
  			<input type="text" style="display:none" name="id" required>
  			<div class="large-6 small1-12 medium-12 columns">
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Chromosome</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="chromosomes" name="chr" required>
	  					<small class="error">A valid chromosome is required</small>
	  				</div>
	  			</div>
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Position</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="number" name="pos" required>
	  					<small class="error">A number is required</small>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="large-6 small-12 medium-12 columns">
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Reference Allele</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="alleles" name="ref" required>
	  					<small class="error">A proper Allele is required</small>
	  				</div>
	  			</div>
	  			<div class="row collapse prefix-radius">
	  				<div class="large-4 small-4 medium-4 columns">
	  					<span class="prefix">Alternate Allele</span>
	  				</div>
	  				<div class="large-8 small-8 medium-8 columns">
	  					<input type="text" pattern="alleles" name="alt" required>
	  					<small class="error">A proper Allele is required</small>
	  				</div>
	  			</div>
	  		</div>
		</div>
  		<div class="row">
  			<div class='large-6 small-12 medium-6 columns'>
	  			<button type="submit" class="large-12 small-12 medium-12 button radius success">Submit</button>
	  		</div>
	  		<div class="large-6 small-12 medium-6 columns">
	  			<a href="#" class="large-12 small-12 medium-12 button radius alert cancel">Cancel</a>
	  		</div>
	  	</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
<div class="row">
	<div class="large-12 small-12 medium-12 columns" id="haplotypes">
	</div>
</div>