<div class="row" style="padding-top: 30px;">  
	<div class="large-12 columns">
		<h2><i class="fa fa-asterisk"></i>&nbspManage Haplotypes</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 columns" style="margin-top:30px	">
		<div class="row">
			<div class="large-7 columns large-centered">
				<div class="large-5 columns">
					<a href="#" class="button radius large-12">Search Genes</a>
				</div>
				<div class="large-2 columns">
					<h5 class="subeader text-center">OR</h5>
				</div>
				<div class="large-5 columns">
					<a href="#" class="button radius large-12 add-new-haplo">Add Haplotype</a>
				</div>
			</div>
		</div>
		<div class="row" style="display:none">
			<div class="large-8 columns">
				<div class="row collapse prefix-radius postfix-radius">
                	<div class="large-2 columns">
                  		<span class="prefix">search Genes</span>	
                  	</div>
	                <div class="large-8 columns left">
	                	<input type="text" id='username' name='username' required>
	                </div>
                  	<div class="large-2 columns left">
	            		<a href="#" class="secondary button radius postfix">GO</a>
            		</div>
              	</div>
          	</div>
          	<div class="large-1 columns">
          		<h5 class="subheader">Or</h5>
          	</div>
          	<div class="large-3 columns">
          		<a href="#" class="button radius large-12">Add New Haplotype</a>
          	</div>
       	</div>
   	</div>
</div>