	<div class="row">
        <div class="large-10 large-centered columns">
          <h1>Welcome!</h1>
          <h5 class="subheader">
            We've built this <i>PGX webapp</i> to make genome interpretation easier for clinicians.
          </h5>
        </div>
        <div class="large-10 large-centered columns">
          <h2>Let's get you set up</h2>
          <h5 class="subheader">
            It's time to configure your web server. We've made some suggestions where possible
            if you're not sure what to enter.
          </h5>
        </div>
      </div>

      <!-- Config form -->
      <div class="row">
        <div class="large-10 large-centered columns">

          <form data-abide="ajax" id="webapp-config-form">

            <div class="row">
              <div class="large-12 large-centered columns">
                <div class="row collapse prefix-radius">
                  <div class="large-3 columns">
                    <span class="prefix">Your Institution's Name</span>
                  </div>
                  <div class="large-9 columns">
                      <input type="text" id="webapp-institution" name="institution" required/>
                      <small class="error">Institution name required.</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 large-centered columns">
                <span data-tooltip aria-haspopup="true" class="tip-left round" title="We promise not to spam you!">
                  <div class="row collapse prefix-radius">
                    <div class="large-3 columns">
                      <span class="prefix"><i class="fa fa-envelope-o" style="font-size: 1.5em;"></i></span>
                    </div>
                      <div class="large-9 columns">
                        <input id="webapp-email" type="email" name="admin-email" placeholder="Administrator e-mail" required />
                        <small class="error">An email address is required.</small>
                      </div>
                  </div>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse prefix-radius">
                  <div class="large-3 columns">
                    <span class="prefix">Default footer for reports</span>
                  </div>
                  <div class="large-9 columns">
                    <input type="text" id="webapp-footer" name="report-footer" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse prefix-radius">
                  <div class="large-3 columns">
                    <span class="prefix">Default disclaimer for reports</span>
                  </div>
                  <div class="large-9 columns">
                    <textarea rows=11 id="webapp-disclaimer" name="disclaimer"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-6 columns"></div>
              <div class="large-4 columns">
                <button id="webapp-config-form-button" class="button large round alert" type="submit"><i class="fa fa-hand-o-right"></i>&nbsp;Get started!</button>
              </div>
            </div>

          </form>
        </div>
    </div>