<div style="min-height:100%;">
  <div class="row">
    <div class="small-12 medium-8 large-6 medium-centered large-centered columns">
      <form data-abide="ajax" id="webapp-request-login" style="margin-top:20%">
        <fieldset>
          <h3 style="margin-bottom:60px;margin-top:10px;"><i class="fa fa-chevron-right"></i>&nbspSet Password</h3>
          <p style="margin-bottom:20px;">Update your current password. You will be redirected if the update is successful.</p>
          <div class="row">
            <div class="small-12 columns">
              <div data-alert class="alert-box radius alert" id="error-display-box"  style="display:none">
                <!-- Alert message goes here -->
                <div class="row">
                  <div class="small-11 columns">
                    <p id="error-display-message"></p>
                  </div>
                  <div class="small-1 columns">
                    <a href="#" class='close-box'><i class="fi-x size-16" style="color:#606060"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="small-12 large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 large-3 columns">
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-left radius" title="Please enter your current password"><span class="prefix">Password</span></span>
                </div>
                <div class="small-9 large-9 columns">
                  <input type="password" id='password' name='password' pattern="lower" required>
                  <small class="error">Your password must be between 6 and 40 characters</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 large-3 columns">
                  <span class="prefix">New Password</span>
                </div>
                <div class="small-9 large-9 columns">
                  <input type="password" id='newpassword' name='newpassword' required pattern="lower" data-notEqual="password" data-abide-validator="notEqual">
                  <small class="error">New password must be between 6 and 40 characters long and cannot match your previous one</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 large-3 columns">
                  <span class="prefix">Confirm Password</span>
                </div>
                <div class="small-9 large-9 columns">
                  <input type="password" id='confirmPassword' name='confirmPassword' required pattern="lower" data-equalto="newpassword">
                  <small class="error">Must match new password</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="small-6 large-3 columns">
              <button type="submit" id="submit" class="button radius alert">Update</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>