<div class="row">
	<div class="small-12 medium-12 large-12 columns new-file fileNum{{Id}}">
		{{#each patient_ids}}
		<div class="row">
			<div class="small-12 large-12 columns new-patients">

				<div class="small-12 medium-3 large-3 columns data-fieled">
					<label class="show-for-small-only"><b>Patient Id</b></label>
					<input class='patient_id' type='text' value={{this}} placeholder="NA001" name="patient_id" required>
					<small class="error" style="display:none;">Patient Identifier Already In use</small>
				</div>
				<div class="small-12 medium-2 large-3 columns data-field">
					<label class="show-for-small-only"><b>Patient Id</b></label>
					<input name="patient_alias" type='text'>
				</div>
				<div class="small-12 medium-2 large-2 columns data-field">
					<label class="show-for-small-only"><b>Patient Alias</b></label>
					<input name="patient_phenotype" type='text'>
				</div>
				<div class="small-12 medium-2 large-1 columns data-field">
					<label class="show-for-small-only"><b>Patient Age</b></label>
					<input class="age" name="age" type='text'>
					<small class="error" style="display:none;">Must Be A number</small>
				</div>
				<div class="small-12 medium-3 large-3  columns data-field">
					<label class="show-for-small-only"><b>Patient Sex</b></label>
			      	<div class="small-12 medium-12 columns right">  
			        	<input name="sex" style="display:none" type="text" value="">
				        <ul class="button-group even-3 radius sex-switch">
				          <li><a href="#" class="button secondary tiny">M</a></li>
				          <li><a href="#" class="button secondary tiny">F</a></li>
				          <li><a href="#" class="button tiny">N/A</a></li>
				        </ul>
			      	</div>
			    </div>
			</div>
		</div>
		<br class="show-for-small-only">
		{{/each}}
		<hr>
	</div>
</div>
