<div class="row">
    <div class="large-12 columns">
      	<h2>Add New Project</h2>
      	
        <form>
          <fieldset>
            <div class="row">
              <div class="large-12 columns">
        	      <p>TEST</p>
              </div>
      	    </div>
          </fieldset>
        </form> 
    </div>
</div>