<div class="row">
    <div class="large-12 columns">
      	<h2>Projects</h2>
      	<h5 class="subheader">Displaying all available projects</h5>
     	<p>Projects offer you a way to convieniently group individual patients together. A single patient can be included in as many projects as you want.</p>
      	<div class="row">
        	<div class="large-3 columns">
          		<a href="#" class="button alert radius left" id="add-new-project">Add New Project</a>
        	</div>
        	<div class="large-9 columns">
          		<a href="#" class="button alert radius left">Add Patient to Existing Project</a>
        	</div>
      	</div> 
    </div>
</div>
<div class="row">
	<div class="large-12 columns">     
		{{!-- Add the project table --}}
		<table class="large-12">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Date Created</th>
					<th class="text-center">Number Of Patients</th>
					<th class="text-center">Details</th>
				</tr>
			</thead>
			<tbody>
				{{#each projects}}
				<tr class="patient-row">
					<td class="frangipani-project-name">{{project_id}}</a></td>
					<td class="frangipani-"></td>
					<td class="text-center">{{numPatients}}</td>
					<td class="text-center">{{details}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div> 