<ul class="title-area">
  <li class="name"><h1><a href="/">Frangipani</a></h1></li>
</ul>
<section class="top-bar-section">
  <ul class="left">
    <li>
      <a href="http://github.com/BaderLab/Frangipani" id="frangipani-github-icon" target="_blank"><i class="fi-social-github size-36"></i></a>
    </li>
    <!-- 
    <li data-tooltip aria-haspopup="true" title="Google Genomics API v0.5.1" class="has-form">
      <a href="http://cloud.google.com/genomics/v1beta2/reference/" target="_blank" class="button radius">GA4GH API</a>
    </li>
    -->
  </ul>
</section>
{{#if authenticated}}
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#" class="button radius alert" id="frangipani-plus-icon"><i class="fi-plus size-16"></i></a>
        <ul class="dropdown">
          <li><a href="/upload" id="frangipani-add-new-patient"><i class="fi-torso size-24"></i>&nbsp&nbsp&nbsp Patient</a></li>
          <li><a href="/construction.html" id="frangipani-add-new-project"><i class="fi-page-multiple size-24"></i>&nbsp&nbsp&nbsp Project</a></li>
          <li><a href="/construction.html" id="frangipani-add-new-panel"><i class="fa fa-stethoscope fa-2x"></i>&nbsp&nbsp&nbsp Gene Panel</a></li>
          <li><a href='/statuspage' id='frangipani-status-page'><i class='fi-widget size-24'></i>&nbsp&nbsp Status</a></li>
          <li><a href="/setpassword"><i class="fi-lock size-24"></i>&nbsp&nbsp Change Password</a></li>
        </ul>
      </li>

      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 columns">
            <input type="text" id="frangipani-search-field" placeholder="Find Patient...">
          </div>
          <div class="large-4 columns">
            <a href="/construction.html" class="button expand alert" id="frangipani-search-button">Search</a>
          </div>
        </div>
      </li>
      <li class="has-form">
        <a href="/browsepatients" class="button radius alert" id="frangipani-browse-button">Browse</a>
      </li>
      <li class="has-form">
        <a href="/logout" class="button radius">Logout</a>
      </li>
    </ul>
  </section>
{{/if}}