div {
	border-radius: 5px;
}

#header {
	position: relative; /* couldnt figure out how to centre when this was "fixed" */
	background-color: #FDE3A7;
	display: block;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	z-index: 1;
	height: 60px;
	width: 98%;
}

.results {
	position: relative;
	height: 800px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#selection-pane {
	background-color: #C8F7C5;
	float: left;
	width: 20%;
}

#data-pane {
	background-color: #E4F1FE;
	float: right;
	width: 79%
}

#footer {
	position: relative;
	height: 20px;
	background-color: #FDE3A7;
	text-align: center;
	clear: both;
}