.row {
	width:100%;
	margin-right:0;
	margin-left:0;
}	

.columns {
	padding-left:0;
	padding-right:0;
	display:inline-block;
}
.col-1 {
	width: 8%;
}
.col-2 {
	width: 15.5%;
}
.col-3 {
	width: 24%;
}
.col-4 {
	width: 32.5%;
}
.col-5 {
	width: 40.5%;
}
.col-6 {
	width: 49%;
}
.col-7 {
	width: 58%;
}
.col-8 {
	width: 66%;
}
.col-9 {
	width: 74%;
}
.col-10 {
	width: 82.5%;
}
.col-11 {
	width: 91%;
}
.col-12 {
	width: 100%;
}

p {
	font-size:8px;
	font-family: Verdana;
}
.center {
	text-align:center;
}

table {
	font-size: 8px;
	text-align: center;
}

table, tr {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color:#dbdbdb;
}

.variant-alt {
	color: red;
	font-style: italic; 
}

.patient {
	background-color: #c2edff;
}

.spacer {
	margin-bottom: 20px;
}

hr {
	border:0px;
	color:black;
	background-color: black;
	height: 1px;
}

div {
	font-family: Tahoma, Geneva, sans-serif;
}