<h3 data-patient-name={{patientName}}>Details for {{patientName}}</h3>
<div class="row">
	<div class="small-12 columns">
		<a href="#" id="frangipani-new-search" class="button radius">New Search</a>
	</div>
</div>
<form class="variant-query-fields">
	<fieldset>
		<legend>Variant Queries</legend>
		<p>Please Select the appropriate details</p>
		<div class="row">
			<div class="small-6 columns">
				<label>Chromosome Number
					<input id="reference-name" type="text" placeholder="1 - 23, X,Y,MT" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<label>Start Position
					<input id="start-position" type="text" placeholder="0" />
				</label>
			</div>
			<div class="small-6 columns">
				<label>End Position
					<input id="end-position" type="text" placeholder="0" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-3 column">
					<a href="#" class="button radius" id="frangipani-submit-variant-request">Submit</a>
			</div>
			<div class="large-9 column">
				<div class="large-3 column">
					<a href="#" class="button radius alert" id="frangipani-cancel-variant-request">Cancel</a>
				</div>
			</div>	
		</div>
	</fieldset>	
</form>
<div class="row">
	<div class="large-12 column" id="tableContents">
	</div>
</div>

