<div class="row">	
	<div class="large-12 columns">
		<h2><i class="fi-page-multiple"></i> All Patients ({{patients.length}})</h2>
	</div>
</div>
<div class="row">
	<div class="large-12 large-centered columns">
		<table>
			<tbody>
				{{#each patients}}
				<tr>
					{{!-- Put quotes around attributes that may have spaces, or handlebars
					will only output the first word. --}}
					<td><a href="#">{{this}}</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>	
</div>