<div id="frangipani-app-main">
  <div class="row">  
    <div class="large-12 columns" style="top:15px;">
      <h2><i class="fi-torso size-28"></i>&nbspAdd a new patient</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns" style="top:15px;bottom:0px;">
      <ul class="tabs" data-tab role="tablist">
        <li class="tab-title active" role="presentational"><a href="#panel1" role="tab" tabindex="0" aria-selected="true" controls="panel1">Add Single Patient</a></li>
        <li class="tab-title" role="presentational"><a href="#panel2" role="tab" tabindex="0" aria-selected="false" controls="panel1">Add Multipatient VCF</a></li>
        <li class="tab-title" role="presentational"><a href="#panel2" role="tab" tabindex="0" aria-selected="false" controls="panel1">Add Multiple Patients</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <form id="jquery-new-patient-form">
        <fieldset>
          <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active"  id="panel1">
            <div class="new-patients">
              <legend>Please Enter Patient Information</legend> 
              <div class="row">
                <div class="large-6 columns left">
                  <label><h6>Patient Identifier</h6>
                    <input class='patient_id'   type="text" name="patient_id" id="patient_id" placeholder="NA02021">
                    <small class="error" style="display:none;">Patient Identifier Already In use</small>
                  </label>
                  
                </div>
                <div class="large-6 columns right">
                  <label><h6>Patient Alias</h6>
                    <input type="text" name="patient_alias" id="patient_alias" placeholder="">
                  </label>
                </div>
              </div>
              <div class="row">            
                <div class="large-6 columns left">
                  <label><h6>Phenotype ID
                    <input type="text" name="phenotype_id" id="phenotype_id" placeholder="">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns left">
                  <label><h6>Sex</h6>
                    <div class="row">
                      <div class="small-8 medium-8 columns left">
                        <h4 id="sex-switch-value"></h4>
                      </div>
                      <div class="small-4 medium-4 columns right">  
                        <div class="switch large round right" tabindex="0">
                          <input id="sex-switch" type="checkbox">
                          <label for="sex-switch"></label>
                        </div>
                      </div>
                    </div>
                  </label> 
                </div>
                <div class="large-6 column right">
                  <label><h6>Age:&nbsp<b><span id="sliderOutput" ></span></b></h6>
                    <div class="row">
                      <div class="small-12 medium-12 columns">
                        <div class="range-slider radius" data-slider data-options="start:0;end:120; display_selector: #sliderOutput;">
                          <span class="range-slider-handle" role="slider" tabindex="0"></span>
                          <span class="range-slider-active-segment"></span>
                          <input type="hidden" name="age">
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            </section>
            <section role="tabpanel" aria-hidden="true" class="content" id="panel2">
            </section>
            <hr>
            <div class="row">
              <div class="large-4 columns left" style="top:10px;">
                <input id="fileselect" type="file" name="files[]" style="display:none"></input>
                <a href="#" class="button alert round large-12" id="upload-button"><i class="fi-plus size-21"></i>&nbsp&nbspAdd File</a></li>
                <ul class="button-group even-2 round" style="display:none">
                  <li><a href="#" class="button alert" id="cancel-button"><i class="fi-x size-21"></i>&nbsp&nbspCancel</a></li>
                  <li><a href="#" class="button alert" id="submit-button"><i class="fi-upload size-21"></i>&nbsp&nbspSumbit</a></li>
                </ul>
              </div>
              <div class="large-8 columns right" style="top:10px;">
                <div class="row">
                  <div class="small-12 medium-12 columns" id="upload-box" style="display:none">
                    <p id='file-to-upload'></p>
                    <div class='progress'>
                      <span class='meter' id='upload-progress' style='width:0%'></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>>
