<h3>Details for {{patientName}}</h3>
<p>Please Select the appropriate details</p>
<fieldset class="variant-query-fields">
	<legend>Variant Queries</legend>
	<div class="row">
		<div class="large-4 columns">
			<label>Chromosome Number
				<input type="text" placeholder="1 - 23, X,Y,MT" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<label>Start Position
				<input type="text" placeholder="0" />
			</label>
		</div>
		<div class="small-6 columns">
			<label>End Position
				<input type="text" placeholder="0" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="large-4 column">
			<a href="#" class="button radius" id="frangipani-submit-variant-request">Submit</a>
		</div>
	</div>
</fieldset>	
