{{#each callSets}}
<tr>
	<td><a href="#"  class="frangipani-patient-link" data-patient-id={{id}} data-patient-name={{name}}>{{name}}</a></td>
	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
</tr>
{{/each}}