<div class="row">
	<div class="large-12 columns">
		<h2><i class="fi-page-multiple"></i> Projects</h2>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<table>
			<tbody>
				{{#each datasets}}
				<tr>
					{{!-- Put quotes around attributes that may have spaces, or handlebars
					will only output the first word. --}}
					<td><a href="#" class="frangipani-project-name" data-project="{{name}}" data-id={{id}}>{{name}}</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="large-8 columns" id="frangipani-project-details">
	</div>
</div>