<div class="row">  
  <div class="large-12 columns" style="top:15px;">
    <h2><i class="fi-torso size-28"></i>&nbspAdd a new patient</h2>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h6 class="subheader spacer">Add a new file to get started!</h6>
    <p>Files you want to upload must be in the appropriate <a href="http://www.1000genomes.org/wiki/analysis/variant%20call%20format/vcf-variant-call-format-version-41" target="_blank">VCF format</a>. Each file can have any number of subjects contained within it, their ID’s will automatically be extracted and the number of subjects will be determined. Additionally you can add more than one vcf file, simply click the “Add File” button. If you have several files and you would like to only remove one of them, scroll down to the bottom of the screen and click “Cancel” located next to the file of choice. This will remove the file as well as all of its entries. If you Want to remove everything hit the big “Cancel” button at the bottom of the page.</p>

    <p>Once you have all of your files selected, click “Submit”. Each files progress will be monitored in the upload bar. Once they are uploaded, give the file some time as it needs to be annotated. Check out the upload status bar to see if it is available for viewing yet!</p>
  </div>
  <div class="large-12 columns">
    <form id="jquery-new-patient-form" data-abide>
      <div class="row">
        <div class=large-12 columns">
          <fieldset style="display:none" id="info-fields">
            <legend>Patient Information</legend>
            <div class="row">
              <div class="large-12 columns">
                <div class="large-3 columns" style="text-align:center;">
                  <h6>Patient Id</h6>
                </div>
                <div class="large-3 columns" style="text-align:center;">
                  <h6>Patient Alias</h6>
                </div>
                <div class="large-2 columns" style="text-align:center;">
                  <h6>Phenotype</h6>
                </div>
                <div class="large-1 columns" style="text-align:center;">
                  <h6>Age</h6>
                </div>
                <div class="large-3 columns" style="text-align:center;">
                  <h6 style="text-align:center;">Sex</h6>
                </div>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" id="patient_information">
              </div>
            </div>
          </fieldset>
          <fieldset style="display:none;" id="upload-fields">
            <legend>Upload Files</legend>
            <div class="row">
              <div class="large-12 columns" id="patient_vcf">
              </div>
            </div>
          </fieldset>
        </div>
      </div<
      <div class="row">
        <div class="large-4 columns left">
          <input id="fileselect" type="file" name="files[]" style="display:none" multiple></input>
          <a href="#" class="button alert round large-12" id="upload-button"><i class="fi-plus size-16"></i>&nbsp&nbspAdd File</a></li>
        </div>
        <div class="large-4 columns right">
          <ul class="button-group even-2 round">
            <li><a href="#" class="button alert" id="cancel-all-button"><i class="fi-x size-16"></i>&nbsp&nbspCancel</a></li>
            <li><a href="#" class="button alert" id="submit-all-button"><i class="fi-upload size-16"></i>&nbsp&nbspSumbit</a></li>
          </ul>
        </div>     
      </div>
    </form>
  </div>
</div>

