
<div class="row">
  <hr>
  <div class="small-12 medium-12 columns" id=fileNum{{Id}}>

    <div class="row">
      <a href="#" class="button submit-button" style="display:none"></a>
      <div class="small-10 medium-10 columns">
        <p id='file-to-upload'>{{file-name}}&nbsp<i>{{size}}kb</i></p>
      </div>
      <div class="small-2 medium-2 columns right">
        <a href="#" class="button alert tiny right radius cancel-button">cancel</a>
      </div>
    </div>
    <div class='progress'>
      <span class='meter' style='width:0%'></span>
    </div>
  </div>
</div>
