<div class="row">
	<div class="large-12 columns">
		<h2>Browse Projects</h2>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<table>
			<tbody>
				{{#each datasets}}
				<tr>
					<td data-id={{id}}>{{name}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="large-8 columns">
		<p>Placeholder! :)</p>
	</div>
</div>