{{#each callSets}}
<tr>
	<td><a href="#"  class="frangipani-patient-link" data-patient-id={{id}} data-patient-name={{name}}>{{name}}</a></td>
	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus venenatis turpis vel viverra.</td>
	<td><a href="#" class="button radius secondary tiny">for future</a></td>
</tr>
{{/each}}