<!-- Handlebars template for patient status update -->
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<h2>Recent Uploads</h2>
				<h5 class="subheader">Displaying All Uploads</h5>
				<p>Information on recent uploads, including the Patient Id, the original file name and the useability status. If a patient has been completely uploaded, annotated and is available for use in searching, a checkmark will be displayed. Otherwise the spinning icon denotes the file is not currently ready to use.</p>
			</div>
		</div>
		<div class="row">
			<div class= large-12 columns">
				<table class='large-12'>
					<thead>
						<tr>
							<th>Patient</th>
							<th>File</th>
							<th>Date Added</th>
							<th>Time Added</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="frangipani_patient_status">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>